html{
	background-image: url("../img/phone.jpg");
}
table {
   border: 4px double #4B2105;
   background-color: #A2DDD3;
   margin: 30px;}

h1{
	text-decoration: underline;
	font-style: italic;
}


td,th, caption{
   border: 1px solid #000;
   background-color: #7F7F7F;
   text-align: center;
   font-weight:600;
}
th{
	background-color: #226E32;
	padding:14px;
}
td{
	padding:5px;
}
caption{
	color:#0CFF51;
	background-color: grey;
	font-size: 20px;
	font-weight:600;
}
.gr {
	background-color: green;
}
.org {
	background-color: #EC8909;
}